## 1-3. Completed
## 4. In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
df_iris = sns.load_dataset('iris')

Print the first three rows:

In [5]:
df_iris.head(3)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

Print the shape:

In [7]:
df_iris.shape

(150, 5)

Print the column names and data types of each:

In [8]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

Print the summary statistics:

In [9]:
df_iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

## 5. Read the Table1_CustDetails table from your spreadsheet exercises google sheet into a dataframe named df_google_sheets.

In [17]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1jvEKrZGWuNGA8b7aZT-e28TceYP-nw18mjReCT03RWo/edit#gid=1756832831'

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_google_sheets = pd.read_csv(csv_export_url)
df_google_sheets.head()

,customer_id,gender,is_senior_bool,is_senior,partner,dependents,phone_service,internet_service,contract_type,payment_type,...,has_internet_bool,has_phone_and_internet_bool,partner_dependants,calc_monthly_charges,contract_details,phone_service_details,internet_service_details,service_combination,partner_dependants_status,full_months_tenure
0,0002-ORFBO,Female,0,Non-Senior Citizen,Yes,Yes,1,1,1,Mailed check,...,1,1,3,65.6,1 Year,One Line,DSL,Phone & Internet,Partner & Dependants,9
1,0003-MKNFE,Male,0,Non-Senior Citizen,No,No,2,1,0,Mailed check,...,1,1,0,59.9,Month-to-Month,Two or More Lines,DSL,Phone & Internet,Lives Alone,9
2,0004-TLHLJ,Male,0,Non-Senior Citizen,No,No,1,2,0,Electronic check,...,1,1,0,73.9,Month-to-Month,One Line,Fiber Optic,Phone & Internet,Lives Alone,3
3,0011-IGKFF,Male,1,Senior Citizen,Yes,No,1,2,0,Electronic check,...,1,1,1,98.0,Month-to-Month,One Line,Fiber Optic,Phone & Internet,Partner Only,12
4,0013-EXCHZ,Female,1,Senior Citizen,Yes,No,1,2,0,Mailed check,...,1,1,1,83.9,Month-to-Month,One Line,Fiber Optic,Phone & Internet,Partner Only,3

Assign the first 100 rows to a new dataframe:

In [18]:
df_google_sheets_sample = df_google_sheets.head(100)
df_google_sheets_sample.shape

(100, 28)

Print the number of rows of your original dataframe:

In [23]:
df_google_sheets.shape[0]

7049

Print the first 5 column names:

In [50]:
df_google_sheets_sample.columns[:5]

Index(['customer_id', 'gender', 'is_senior_bool', 'is_senior', 'partner'], dtype='object')

Print the column names that have a data type of object:

In [66]:
df_google_sheets_sample.select_dtypes(include = 'object').columns

Index(['customer_id', 'gender', 'is_senior', 'partner', 'dependents',
       'payment_type', 'churn', 'contract_details', 'phone_service_details',
       'internet_service_details', 'service_combination',
       'partner_dependants_status'],
      dtype='object')

Compute the range for each of the numeric variables:

In [76]:
df_google_sheets_sample.describe().max() - df_google_sheets_sample.describe().min()

is_senior_bool                  100.00
phone_service                   100.00
internet_service                100.00
contract_type                   100.00
monthly_charges                  97.40
total_charges                  8476.85
tenure                           99.00
Unnamed: 14                       0.00
is_female_bool                  100.00
has_churned_bool                100.00
has_phone_bool                  100.00
has_internet_bool               100.00
has_phone_and_internet_bool     100.00
partner_dependants              100.00
calc_monthly_charges             97.40
full_months_tenure               99.00
dtype: float64

## 6.  Download your spreadsheet exercises google sheet as an excel file (File → Download → Microsoft Excel). Read the Table1_CustDetails worksheet into a dataframe named df_excel.

In [81]:
df_excel = pd.read_excel('Storytelling Project Data.xlsx', sheet_name='Table1_CustDetails')

Assign the first 100 rows to a new dataframe:

In [83]:
df_excel_sample = df_excel.head(100)
df_excel_sample

,customer_id,gender,is_senior_bool,is_senior,partner,dependents,phone_service,internet_service,contract_type,payment_type,...,has_internet_bool,has_phone_and_internet_bool,partner_dependants,calc_monthly_charges,contract_details,phone_service_details,internet_service_details,service_combination,partner_dependants_status,full_months_tenure
0,0002-ORFBO,Female,0.0,Non-Senior Citizen,Yes,Yes,1.0,1.0,1.0,Mailed check,...,1,1,3,65.60,1 Year,One Line,DSL,Phone & Internet,Partner & Dependants,9
1,0003-MKNFE,Male,0.0,Non-Senior Citizen,No,No,2.0,1.0,0.0,Mailed check,...,1,1,0,59.90,Month-to-Month,Two or More Lines,DSL,Phone & Internet,Lives Alone,9
2,0004-TLHLJ,Male,0.0,Non-Senior Citizen,No,No,1.0,2.0,0.0,Electronic check,...,1,1,0,73.90,Month-to-Month,One Line,Fiber Optic,Phone & Internet,Lives Alone,3
3,0011-IGKFF,Male,1.0,Senior Citizen,Yes,No,1.0,2.0,0.0,Electronic check,...,1,1,1,98.00,Month-to-Month,One Line,Fiber Optic,Phone & Internet,Partner Only,12
4,0013-EXCHZ,Female,1.0,Senior Citizen,Yes,No,1.0,2.0,0.0,Mailed check,...,1,1,1,83.90,Month-to-Month,One Line,Fiber Optic,Phone & Internet,Partner Only,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0164-APGRB,Female,0.0,Non-Senior Citizen,No,No,2.0,2.0,2.0,Electronic check,...,1,1,0,114.90,2 Year,Two or More Lines,Fiber Optic,Phone & Internet,Lives Alone,73
96,0164-XAIRP,Female,0.0,Non-Senior Citizen,No,No,1.0,0.0,2.0,Bank transfer (automatic),...,0,0,0,19.55,2 Year,One Line,No Internet Service,Phone Only,Lives Alone,24
97,0168-XZKBB,Female,0.0,Non-Senior Citizen,Yes,No,2.0,2.0,0.0,Electronic check,...,1,1,1,86.85,Month-to-Month,Two or More Lines,Fiber Optic,Phone & Internet,Partner Only,18
98,0174-QRVVY,Male,0.0,Non-Senior Citizen,Yes,Yes,2.0,0.0,2.0,Credit card (automatic),...,0,0,3,25.35,2 Year,Two or More Lines,No Internet Service,Phone Only,Partner & Dependants,72
99,0177-PXBAT,Male,1.0,Senior Citizen,Yes,No,2.0,2.0,0.0,Bank transfer (automatic),...,1,1,1,109.90,Month-to-Month,Two or More Lines,Fiber Optic,Phone & Internet,Partner Only,33

In [84]:
df_excel.shape[0]

7049

In [86]:
df_excel_sample.columns[:5]

Index(['customer_id', 'gender', 'is_senior_bool', 'is_senior', 'partner'], dtype='object')

In [88]:
df_excel_sample.select_dtypes(include = 'object').columns

Index(['customer_id', 'gender', 'is_senior', 'partner', 'dependents',
       'payment_type', 'churn', 'contract_details', 'phone_service_details',
       'internet_service_details', 'service_combination',
       'partner_dependants_status'],
      dtype='object')

In [89]:
df_excel_sample.describe().max() - df_excel_sample.describe().min()

is_senior_bool                  100.00
phone_service                   100.00
internet_service                100.00
contract_type                   100.00
monthly_charges                  97.40
total_charges                  8476.85
tenure                           99.00
                                  0.00
is_female_bool                  100.00
has_churned_bool                100.00
has_phone_bool                  100.00
has_internet_bool               100.00
has_phone_and_internet_bool     100.00
partner_dependants              100.00
calc_monthly_charges             97.40
full_months_tenure               99.00
dtype: float64

## 7.  Read the data from this google sheet into a dataframe, df_google.

In [91]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_google = pd.read_csv(csv_export_url)

Print the first 3 rows:

In [92]:
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

Print the number of rows and columns:

In [93]:
df_google.shape

(891, 12)

Print the column names:

In [94]:
df_google.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

Print the data type of each column:

In [100]:
df_google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

Print summary stats:

In [101]:
df_google.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

**** Print unique values for each categorical:

In [108]:
df_google[['Sex','Cabin','Embarked']].value_counts()

Sex     Cabin        Embarked
female  G6           S           4
male    F2           S           3
female  F33          S           3
        C23 C25 C27  S           2
male    C124         S           2
                                ..
female  E44          S           1
        E49          C           1
        E67          S           1
        E68          S           1
male    T            S           1
Length: 173, dtype: int64