# I. Acquire Lesson

## 1-3. Completed
## 4. In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
df_iris = sns.load_dataset('iris')

Print the first three rows:

In [ ]:
df_iris.head(3)

Print the shape:

In [ ]:
df_iris.shape

Print the column names and data types of each:

In [ ]:
df_iris.info()

In [ ]:
df_iris.columns.to_list()

### * Next two are the preferred methods!

In [ ]:
df_iris.dtypes

Print the summary statistics:

In [ ]:
df_iris.describe()

## 5. Read the Table1_CustDetails table from your spreadsheet exercises google sheet into a dataframe named df_google_sheets.

In [ ]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1jvEKrZGWuNGA8b7aZT-e28TceYP-nw18mjReCT03RWo/edit#gid=1756832831'

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_google_sheets = pd.read_csv(csv_export_url)
df_google_sheets.head()

Assign the first 100 rows to a new dataframe:

In [ ]:
df_google_sheets_sample = df_google_sheets.head(100)
df_google_sheets_sample.shape

Print the number of rows of your original dataframe:

In [ ]:
df_google_sheets.shape[0]

Print the first 5 column names:

In [ ]:
df_google_sheets_sample.columns[:5].to_list()

Print the column names that have a data type of object:

In [ ]:
df_google_sheets_sample.select_dtypes(include = 'object').columns.to_list()

Compute the range for each of the numeric variables:

In [ ]:
df_google_sheets_sample.describe().max() - df_google_sheets_sample.describe().min()

In [ ]:
df_google_sheets.describe().T['max'] - df_google_sheets.describe().T['min']

## 6.  Download your spreadsheet exercises google sheet as an excel file (File → Download → Microsoft Excel). Read the Table1_CustDetails worksheet into a dataframe named df_excel.

In [ ]:
df_excel = pd.read_excel('Storytelling Project Data.xlsx', sheet_name='Table1_CustDetails')

Assign the first 100 rows to a new dataframe:

In [ ]:
df_excel_sample = df_excel.head(100)
df_excel_sample

In [ ]:
df_excel.shape[0]

In [ ]:
df_excel_sample.columns[:5]

In [ ]:
df_excel_sample.select_dtypes(include = 'object').columns

In [ ]:
df_excel_sample.describe().max() - df_excel_sample.describe().min()

## 7.  Read the data from this google sheet into a dataframe, df_google.

In [ ]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_google = pd.read_csv(csv_export_url)

Print the first 3 rows:

In [ ]:
df_google.head(3)

Print the number of rows and columns:

In [ ]:
df_google.shape

Print the column names:

In [ ]:
df_google.columns

Print the data type of each column:

In [ ]:
df_google.info()

Print summary stats:

In [ ]:
df_google.describe()

**** Print unique values for each categorical:

In [ ]:
df_google[['Sex','Cabin','Embarked']].value_counts()

In [ ]:
titanicz = acquire.get_titanic_data()
titanicz

# II. Prepare Lesson

In [2]:
import acquire
import prepare

### Iris Dataset

1. Use the function defined in acquire.py to load the iris data.

In [ ]:
df = acquire.get_iris_data()
df.head()

2.  Drop the species_id and measurement_id columns.

In [ ]:
columns_to_drop = ['species_id','measurement_id']
df_iris = df_iris.drop(columns = columns_to_drop)
df_iris.head()

3. Rename the species_name column to just species.

In [ ]:
df_iris = df_iris.rename(columns={'species_name': 'species'})
df_iris = df_iris.drop_duplicates()
df_iris.info()

4. Create dummy variables of the species name and concatenate onto the iris dataframe. (This is for practice, we don't always have to encode the target, but if we used species as a feature, we would need to encode it).

In [ ]:
dummy_df_iris = pd.get_dummies(df_iris[['species']], drop_first = True)
data = pd.concat([df_iris, dummy_df_iris], axis=1)
data.sample(5)

5. Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [ ]:
def prep_iris(df):
    df = df.drop_duplicates()
    columns_to_drop = ['species_id','measurement_id']
    df = df.drop(columns = columns_to_drop)
    df = df.rename(columns={'species_name': 'species'})
    dummy_df = pd.get_dummies(df[['species']], drop_first = True)
    df = pd.concat([df, dummy_df], axis=1)
    return df

In [ ]:
prep_iris(df_iris)

### Titanics Dataset

1. Use the function defined in acquire.py to load the Titanic data.

In [ ]:
df_titanic = acquire.get_titanic_data()
df_titanic.sample(5)

In [ ]:
df_titanic.info()

2. Drop any unnecessary, unhelpful, or duplicated columns.

In [ ]:
df_titanic.head()

In [ ]:
df_titanic = df_titanic.drop_duplicates()
columns_to_drop = ['passenger_id','deck','class','embarked']
df_titanic = df_titanic.drop(columns = columns_to_drop).rename(columns={'sibsp': 'Siblings/Spouses','parch':'Parents/Children'})
df_titanic

3. Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [ ]:
dummy_df_titanic = pd.get_dummies(df_titanic[['sex', 'embark_town']], dummy_na=False, drop_first=[True, True])
df_titanic = pd.concat([df_titanic, dummy_df_titanic], axis = 1)
df_titanic

4. Create a function named prep_titanic that accepts the raw titanic data, and returns the data with the transformations above applied.

In [ ]:
def prep_titanic(df):
    df = df.drop_duplicates()
    columns_to_drop = ['passenger_id','deck','class','embarked']
    df = df.drop(columns = columns_to_drop).rename(columns={'sibsp': 'Siblings/Spouses','parch':'Parents/Children'})
    dummy_df = pd.get_dummies(df[['sex', 'embark_town']], dummy_na=False, drop_first=[True, True])
    df = pd.concat([df, dummy_df], axis=1)
    return df

### Telco Dataset

In [3]:
df_telco = acquire.get_telco_data()
pd.set_option('display.max_columns', None)
df_telco.head(2)

,internet_service_type_id,customer_id,contract_type_id,paperless_billing,contract_type,payment_type_id,monthly_charges,total_charges,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract_type_id.1,paperless_billing.1,payment_type_id.1,monthly_charges.1,total_charges.1,churn,internet_service_type
0,2,0004-TLHLJ,1,Yes,Month-to-month,1,73.9,280.85,Male,0,No,No,4,Yes,No,No,No,Yes,No,No,No,1,Yes,1,73.9,280.85,Yes,Fiber optic
1,1,0017-DINOC,3,No,Two year,4,45.2,2460.55,Male,0,No,No,54,No,No phone service,Yes,No,No,Yes,Yes,No,3,No,4,45.2,2460.55,No,DSL

In [4]:
df_telco.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   internet_service_type_id  7043 non-null   int64
 1   customer_id               7043 non-null   object
 2   contract_type_id          7043 non-null   int64
 3   paperless_billing         7043 non-null   object
 4   contract_type             7043 non-null   object
 5   payment_type_id           7043 non-null   int64
 6   monthly_charges           7043 non-null   float64
 7   total_charges             7043 non-null   object
 8   gender                    7043 non-null   object
 9   senior_citizen            7043 non-null   int64
 10  partner                   7043 non-null   object
 11  dependents                7043 non-null   object
 12  tenure                    7043 non-null   int64
 13  phone_service             7043 non-null   object
 14  multiple_lines            7043 non-null   object
 15  online_security           7043 non-null   object
 16  online_backup             7043 non-null   object
 17  device_protection         7043 non-null   object
 18  tech_support              7043 non-null   object
 19  streaming_tv              7043 non-null   object
 20  streaming_movies          7043 non-null   object
 21  contract_type_id.1        7043 non-null   int64
 22  paperless_billing.1       7043 non-null   object
 23  payment_type_id.1         7043 non-null   int64
 24  monthly_charges.1         7043 non-null   float64
 25  total_charges.1           7043 non-null   object
 26  churn                     7043 non-null   object
 27  internet_service_type     7043 non-null   object
dtypes: float64(2), int64(7), object(19)
memory usage: 1.6+ MB

In [ ]:
def prep_telco(df):
    df = df.drop_duplicates()
    
    df['total_charges'] = df['total_charges'].str.strip()
    df = df[df.total_charges != '']
    
    # Convert to correct datatype
    df['total_charges'] = df.total_charges.astype(float)
    
    df['gender_encoded'] = df.gender.map({'Female': 1, 'Male': 0})
    df['partner_encoded'] = df.partner.map({'Yes': 1, 'No': 0})
    df['dependents_encoded'] = df.dependents.map({'Yes': 1, 'No': 0})
    df['phone_service_encoded'] = df.phone_service.map({'Yes': 1, 'No': 0})
    df['paperless_billing_encoded'] = df.paperless_billing.map({'Yes': 1, 'No': 0})
    df['churn_encoded'] = df.churn.map({'Yes': 1, 'No': 0})
    
    columns_to_drop = ['monthly_charges.1','customer_id', 'total_charges.1','paperless_billing.1','payment_type_id.1','internet_service_type_id','contract_type_id','payment_type_id']
    df = df.drop(columns = columns_to_drop).rename(columns={'sibsp': 'Siblings/Spouses','parch':'Parents/Children'})
    
    dummy_df = pd.get_dummies(df[['multiple_lines', \
                              'online_security', \
                              'online_backup', \
                              'device_protection', \
                              'tech_support', \
                              'streaming_tv', \
                              'streaming_movies', \
                              'contract_type', \
                              'internet_service_type']], dummy_na=False, \
                              drop_first=True)
    df = pd.concat([df, dummy_df], axis=1)
    
    return df

In [7]:
telco_train, telco_validate, telco_test = prepare.prep_telco(df_telco)
telco_train.head(2)

,paperless_billing,contract_type,monthly_charges,total_charges,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract_type_id.1,churn,internet_service_type,gender_encoded,partner_encoded,dependents_encoded,phone_service_encoded,paperless_billing_encoded,churn_encoded,multiple_lines_No phone service,multiple_lines_Yes,online_security_No internet service,online_security_Yes,online_backup_No internet service,online_backup_Yes,device_protection_No internet service,device_protection_Yes,tech_support_No internet service,tech_support_Yes,streaming_tv_No internet service,streaming_tv_Yes,streaming_movies_No internet service,streaming_movies_Yes,contract_type_One year,contract_type_Two year,internet_service_type_Fiber optic,internet_service_type_None
5928,Yes,Month-to-month,95.40,2025.1,Female,1,No,No,21,Yes,Yes,No,No,No,No,Yes,Yes,1,No,Fiber optic,1,0,0,1,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0
1995,Yes,Month-to-month,85.95,514.6,Female,0,No,No,6,Yes,No,No,Yes,No,No,No,Yes,1,No,Fiber optic,1,0,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0

In [8]:
telco_validate.head(2)

,paperless_billing,contract_type,monthly_charges,total_charges,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract_type_id.1,churn,internet_service_type,gender_encoded,partner_encoded,dependents_encoded,phone_service_encoded,paperless_billing_encoded,churn_encoded,multiple_lines_No phone service,multiple_lines_Yes,online_security_No internet service,online_security_Yes,online_backup_No internet service,online_backup_Yes,device_protection_No internet service,device_protection_Yes,tech_support_No internet service,tech_support_Yes,streaming_tv_No internet service,streaming_tv_Yes,streaming_movies_No internet service,streaming_movies_Yes,contract_type_One year,contract_type_Two year,internet_service_type_Fiber optic,internet_service_type_None
924,No,One year,20.25,854.9,Male,0,Yes,Yes,42,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,2,No,None,0,1,1,1,0,0,0,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,1
1577,No,Two year,20.05,1386.9,Female,0,No,No,68,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,3,No,None,1,0,0,1,0,0,0,0,1,0,1,0,1,0,1,0,1,0,1,0,0,1,0,1

In [9]:
telco_test.head(2)

,paperless_billing,contract_type,monthly_charges,total_charges,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract_type_id.1,churn,internet_service_type,gender_encoded,partner_encoded,dependents_encoded,phone_service_encoded,paperless_billing_encoded,churn_encoded,multiple_lines_No phone service,multiple_lines_Yes,online_security_No internet service,online_security_Yes,online_backup_No internet service,online_backup_Yes,device_protection_No internet service,device_protection_Yes,tech_support_No internet service,tech_support_Yes,streaming_tv_No internet service,streaming_tv_Yes,streaming_movies_No internet service,streaming_movies_Yes,contract_type_One year,contract_type_Two year,internet_service_type_Fiber optic,internet_service_type_None
3305,Yes,Month-to-month,96.75,3403.40,Male,0,No,No,35,Yes,Yes,Yes,Yes,Yes,Yes,No,No,1,No,Fiber optic,0,0,0,1,1,0,0,1,0,1,0,1,0,1,0,1,0,0,0,0,0,0,1,0
6322,No,One year,19.75,624.15,Female,0,No,No,32,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,2,No,None,1,0,0,1,0,0,0,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,1

In [10]:
telco_train.shape, telco_validate.shape, telco_test.shape

((3937, 44), (1688, 44), (1407, 44))