### 2. Hand eval given confusion matrix

In [83]:
import numpy as np
np.array([[46,13],[7,34]])

array([[46, 13],
       [ 7, 34]])

In [85]:
46/(46+13), 46/(46+7), (46+34)/(46+7+13+34)

(0.7796610169491526, 0.8679245283018868, 0.8)

Precision = .78 | Recall = .87 | Accuracy = .8

In the context of this problem, what is a false positive?
- We predicted a dog and the actual animal was a cat.

In the context of this problem, what is a false negative?
- We predicted a cat and the actual animal was a dog.

How would you describe this model?
- This model predicts whether a picture is a cat or a dog.  We are using the dog as a positive case, in accordance with the standard layout.  As a cat owner, I know it is FAR WORSE for a False Positive to happen, so Precision is most important.

### 3. Rubber Duckys

In [57]:
import pandas as pd
df_c3 = pd.read_csv('c3.csv')
df_c3.head(2)

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect

In [67]:
pd.crosstab(df_c3.actual, df_c3.model1)

model1     Defect  No Defect
actual
Defect          8          8
No Defect       2        182

TP: 8
FP: 2
TN: 182
FN: 8

In [68]:
pd.crosstab(df_c3.actual, df_c3.model2)

model2     Defect  No Defect
actual
Defect          9          7
No Defect      81        103

In [69]:
pd.crosstab(df_c3.actual, df_c3.model3)

model3     Defect  No Defect
actual
Defect         13          3
No Defect      86         98

In [73]:
c3_model_results = pd.DataFrame({'measure':['TP','FP','TN','FN'],
                   'model1': [8,2,182,8],
                   'model2': [9,81,103,7],
                   'model3': [13,86,98,3]})
c3_model_results

  measure  model1  model2  model3
0      TP       8       9      13
1      FP       2      81      86
2      TN     182     103      98
3      FN       8       7       3

An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?
- They want to minimize False Negatives, so they are focused on Recall.  As such they would use Model 3.

Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?
- This question is confusing because the duck, when it gets to the customer or not already has the defect, so we would want to identify as many as possible just as in the above question, so Recall + Model 3.  If the vacations are driven by the number of positives in the model, then I would go with Model 1 (Precision).

### 4. Cats and Dogs

In [74]:
df_gyp = pd.read_csv('gives_you_paws.csv')
df_gyp.head(2)

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog

Given this dataset, use pandas to create a baseline model.

In [79]:
df_gyp.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

Dog is the most common class, so Baseline = all Dogs.

In [81]:
df_gyp['mymodel'] = 'dog'
#can programmatically use value_counts.idxmax() to assign it to most common animal
df_gyp.mymodel.value_counts()

dog    5000
Name: mymodel, dtype: int64

In [90]:
mymodel = pd.crosstab(df_gyp.actual, df_gyp.mymodel)
mymodel['cat'] = 0
mymodel = mymodel.reindex(columns =['cat','dog'])
mymodel

mymodel  cat   dog
actual
cat        0  1746
dog        0  3254

In [104]:
def matrix_results(df):
    true_positive = df.iloc[1,1]
    false_positive = df.iloc[0,1]
    true_negative = df.iloc[0,0]
    false_negative = df.iloc[1,0]
    precision = true_positive / (true_positive + false_positive)
    recall = true_positive / (true_positive + false_negative)
    accuracy = (true_positive + true_negative) / (true_positive + true_negative + false_positive + false_negative)
    print(f'True Positive = {true_positive}')
    print(f'False Positive = {false_positive}')
    print(f'True Negative = {true_negative}')
    print(f'False Negative = {false_negative}')
    print(f'Precision = {precision}')
    print(f'Recall = {recall}')
    print(f'Accuracy = {accuracy}')

In [96]:
model1 = pd.crosstab(df_gyp.actual, df_gyp.model1)
model1

model1   cat   dog
actual
cat     1423   323
dog      640  2614

In [98]:
model2 = pd.crosstab(df_gyp.actual, df_gyp.model2)
model2

model2   cat   dog
actual
cat     1555   191
dog     1657  1597

In [101]:
model3 = pd.crosstab(df_gyp.actual, df_gyp.model3)
model3

model3   cat   dog
actual
cat      893   853
dog     1599  1655

In [103]:
model4 = pd.crosstab(df_gyp.actual, df_gyp.model4)
model4

model4  cat   dog
actual
cat     603  1143
dog     144  3110

In [113]:
models = [mymodel,model1,model2,model3,model4]
for model in models:
    print(matrix_results(model))
    print('\n-----------------\n')

True Positive = 3254
False Positive = 1746
True Negative = 0
False Negative = 0
Precision = 0.6508
Recall = 1.0
Accuracy = 0.6508
None

-----------------

True Positive = 2614
False Positive = 323
True Negative = 1423
False Negative = 640
Precision = 0.8900238338440586
Recall = 0.803318992009834
Accuracy = 0.8074
None

-----------------

True Positive = 1597
False Positive = 191
True Negative = 1555
False Negative = 1657
Precision = 0.8931767337807607
Recall = 0.49078057775046097
Accuracy = 0.6304
None

-----------------

True Positive = 1655
False Positive = 853
True Negative = 893
False Negative = 1599
Precision = 0.6598883572567783
Recall = 0.5086047940995697
Accuracy = 0.5096
None

-----------------

True Positive = 3110
False Positive = 1143
True Negative = 603
False Negative = 144
Precision = 0.7312485304490948
Recall = 0.9557467732022127
Accuracy = 0.7426
None

-----------------

In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?
- Models 1 and 4 are better (Model 4 is the best)

Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recomend for Phase I? For Phase II?
- For Phase I we want to minimize False Negatives (Recall) such that we don't miss lots of dogs.  As such, the Baseline and Model 4 are superior.  For Phase II, we optimaize for Flase Positives (Precision).

Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recomend for Phase I? For Phase II?
- Will wait for the review.

In [114]:
import sklearn.metrics as skm

In [151]:
new_models = [df_gyp.mymodel,df_gyp.model1,df_gyp.model2,df_gyp.model3,df_gyp.model4]

for i in range(5):
    print(skm.accuracy_score(df_gyp.actual, new_models[i]))

0.6508
0.8074
0.6304
0.5096
0.7426

In [159]:
#for i in range(5):
pd.DataFrame(skm.classification_report(df_gyp.actual, new_models[3], labels = ['cat','dog'], output_dict = True))

                   cat          dog  accuracy    macro avg  weighted avg
precision     0.358347     0.659888    0.5096     0.509118      0.554590
recall        0.511455     0.508605    0.5096     0.510030      0.509600
f1-score      0.421425     0.574453    0.5096     0.497939      0.521016
support    1746.000000  3254.000000    0.5096  5000.000000   5000.000000